<html>
<head><title>Ppzi Log Archive Account Settings</title>
<body>
<form action="/cgi-bin/ppzilogmenu.pl" method="GET">
<img src="../archive_banner.png">
<table border="1" cellpadding="5" cellspacing="5" width="80%"
style="background-color:lemonchiffon;border:3px black;">
<tr>
<th style="text-align:left"><A href="ppzilogmenu.pl">View Logs</A></th>
<th style="text-align:left"><A href=/upload_logfile.html>Upload logs</A></th>
<th style="background-color:bisque;text-align:left">Settings</th>
<th style="text-align:left"><A href=stats.cgi>Site Stats</A></th>
</tr>
<tr>
<td style="background-color:bisque" width="20%" colspan="4">
Manage my aircraft :<br>
Aircraft list :<br>
# Name  type <br>
1. minimag  fixed<br>
2. slowstick fixed<br>
3. wetdream  rotor<br>
<br>
Add aircraft<br>
Description<br>
Picture<br>
submit button <br>
</td>
</tr>
<td style="background-color:bisque" width="20%" colspan="4">
Change password<br>
Enable Kinomap links in view list<br>
</td>
</tr>
</form>
</body>
</html>
