<html>
<head><title>Ppzi Log Archive</title>
<body>
<form action="/cgi-bin/loglist.pl" method="GET">
<img src="../archive_banner.png">
<table border="1" cellpadding="5" cellspacing="5" width="80%" style="background-color:lemonchiffon;border:3px black;">
	<tr>
	<th style="background-color:bisque;text-align:left">View Logs</th>
	<th style="text-align:left"><A href=/upload_logfile.html>Upload logs</A></th>
	<th style="text-align:left"><A href=/cgi-bin/settings.cgi>Settings</A></th>
	<th style="text-align:left"><A href=/cgi-bin/stats.cgi>Site Stats</A></th>
	</tr>
	<tr><td style="background-color:bisque" width="20%" colspan="4">
	<table border=1 bgcolor="black">
		<TMPL_LOOP NAME=MSGS>
			<tr><td bgcolor="white" ><TMPL_VAR NAME=MSGNAME></td><td bgcolor="white"><TMPL_VAR NAME=MSGCNT></td></tr>
			<TMPL_IF NAME=FIELDDATA>
			<tr><td bgcolor="white" colspan="2">
			<table border=1 bgcolor="lback">
				<tr bgcolor="lightgreen"><th>Name</th><th>Type</th><th>Unit</th></tr>
				<TMPL_LOOP NAME=FIELDDATA>
					<tr>
					<td><TMPL_VAR NAME=NAME></td>
					<td><TMPL_VAR NAME=TYPE></td>
					<td><TMPL_VAR NAME=UNIT></td>
					</tr>
				</TMPL_LOOP>
			</table>
			</td></tr>
			<TMPL_ELSE>

			</TMPL_IF>   
		</TMPL_LOOP>
	</table>
	</td></tr>
</table>
</form>
</body>
</html>
