<html>
<head><title>Ppzi Log Archive Statistics</title>
<body>
<form action="/cgi-bin/ppzilogmenu.pl" method="GET">
<img src="../archive_banner.png">
<table border="1" cellpadding="5" cellspacing="5" width="80%"
style="background-color:lemonchiffon;border:3px black;">
<tr>
<th style="text-align:left"><A href="/cgi-bin/ppzilogmenu.pl">View Logs</A></th>
<th style="text-align:left"><A href=/upload_logfile.html>Upload logs</A></th>
<th style="text-align:left"><A href=/cgi-bin/settings.cgi>Settings</A></th>
<th style="background-color:bisque;text-align:left">Site Stats</th>
</tr>
<tr>
<td style="background-color:bisque" width="20%" colspan="4">
Logs sorted by :<br>
User<br>
Country<br>
Date<br>
Duration<br>
Altitude<br>
Max distance<br>
</td>
</tr>
<tr>
<td style="background-color:bisque" width="20%" colspan="4">
Totals
Users:<br>
Logs:<br>
Aircraft: <br>
</td>
</tr>
</form>
</body>
</html>
